.shopping {
    width: 100%;
    max-width: 600px;
    height: 200px;
    /* max-height: 600px; */
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.head h1 {
    color: black;
    font-size: 30px;
}

.all {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 150px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item h1 {
    color: #fff;
    font-size: 18px;
}

.item h5 {
    color: #fff;
    font-size: 20px;
}

.item span {
    font-size: 12px;
}

.division {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span {
    display: flex;
    align-items: center;
}

.button button {
    width: 40px;
    height: 40px;
    margin: 0 5px 20px;
    cursor: pointer;
}