.product-item {
    width: 100%;
    max-width: 700px;
    height: 200px;
    background-color: rgb(211, 206, 206);
    border-radius: 10px;
    margin: 30px auto;
    padding: 15px;
}

.test-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-head h3 {
    width: 60px;
    height: 50px;
    background: black;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    width: 100px;
    height: 40px;
    float: right;
    cursor: pointer;
    margin-bottom: 30px;
}

.buttons {
    margin-top: -25px;
}